/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --duration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  position: relative;
  font-size: 40px;
  margin-bottom: 70px;
  font-weight: normal;
  text-transform: uppercase;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  left: 50%;
  transform: translatex(-50%);
  bottom: -38px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translatex(-50%);
}
.main-heading p {
  width: 550px;
  line-height: 2;
  color: #777;
  max-width: 100%;
  margin: 0 auto var(--section-padding);
}
/* End components */
/* Start header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  bottom: 0px;
  left: 15px;
  background-color: #a2a2a2;
}
header .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
  position: absolute;
  right: 80px;
  top: 33px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul {
  display: flex;
  padding-right: 80px;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: rgb(0 0 0 / 50%);
  }
  header nav ul li a:hover,
  .active {
    padding-bottom: 20px;
  }

  header nav ul li {
    padding: 20px !important;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  header nav ul {
    padding-right: 30px;
  }
}
header nav ul li a {
  padding: 45px 10px;
  transition: 0.1s;
  color: white;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
header nav ul li a:hover,
.active {
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
header nav .search {
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  position: relative;
  padding-left: 30px;
  bottom: 5px;
}
header nav .search i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
}
/* End header */
/* Start landing */
.landing {
  background-color: #6b6860;
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  width: 50%;
  color: white;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 992px) {
  .landing .text {
    width: 100%;
    padding-top: 20px;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin: bottom 20px;
}
.landing .text .content p {
  font-size: 16px;
  line-height: 2;
}
.landing i {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  color: white;
  justify-content: space-between;
  cursor: pointer;
}

.landing .change-bgright {
  right: 30px;
}
.landing .change-bgleft {
  left: 30px;
}
.bullets {
  display: flex;
  position: absolute;
  transform: translate(-50%);
  bottom: 30px;
  left: 50%;
  cursor: pointer;
}
.bullets li {
  margin: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.bullets li:hover,
.bullet-active {
  background-color: var(--main-color);
}
/* End landing */
/* Start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
.services .services-container {
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}
.services .services-container .srv {
  display: flex;
  flex: 2;
}
.services .services-container .srv i {
  margin-right: 40px;
  font-size: 40px;
  color: #777;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .services .services-container .srv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .services-container .srv i {
    margin: 40px auto 25px;
  }
}
.services .services-container .srv i:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: var(--duration);
  transform: rotate(2deg);
}

.services .services-container .srv h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .services-container .srv p {
  line-height: 2;
  color: #777;
}
/* End services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/design-features.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.design::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .mobile {
  position: relative;
  z-index: 2;
  text-align: center;
  flex: 1;
  bottom: -150px;
}
@media (max-width: 768px) {
  .design .mobile {
    display: none;
  }
}
.design .text {
  position: relative;
  z-index: 2;
  color: #ddd;
  flex: 1;
  padding: 50px;
  background-color: var(--transparent-color);
  height: fit-content;
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.design .text li {
  padding: 15px 0;
}
.design .text li:before {
  font-family: "Font Awesome 5 Primeum";
  content: "\d108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End design */
/* Start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: 50px;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}
.portfolio li {
  padding: 15px;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
}
.portfolio li:hover,
.all {
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  transform: scale(0.9);
  transition: var(--duration);
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 1px;
}
@media (max-width: 320px) {
  .portfolio .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.portfolio .cards .port-card {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.portfolio .cards .port-card img {
  max-width: 100%;
  transition: var(--duration);
}
.portfolio .cards .port-card .text {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 20px;
  left: 0;
  bottom: -100px;
  transition: var(--duration);
  font-weight: normal;
}
.portfolio .cards .port-card .text p {
  color: var(--main-color);
}
.portfolio .cards .port-card:hover .text {
  bottom: 0;
  cursor: pointer;
}
.portfolio .cards .port-card:hover img {
  transform: rotate(-5deg) scale(1.1);
  cursor: pointer;
}
.portfolio a {
  padding: 10px 50px;
  color: white;
  background-color: var(--main-color);
  border-radius: 10px;
  font-weight: bolder;
  display: block;
  width: fit-content;
  margin: 50px auto;
  text-decoration: none;
}
.portfolio a:hover {
  transform: scale(1.1);
  transition: var(--duration);
}
/* End portfolio */
/* Start video */

.video {
  position: relative;
  text-align: center;
}
.video video {
  width: 100%;
}
.video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.video .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-color);
  width: 100%;
  padding: 50px;
  z-index: 2;
}
@media (max-width: 568px) {
  .video .text {
    height: 80%;
  }
  .video .text h2 {
    font-size: 15px;
    margin-bottom: 10px !important;
  }
  .video .text .btn {
    padding: 5px 20px !important;
  }
}

.video .text h2 {
  color: white;
  font-weight: normal;
  margin: 0 0 30px;
}
.video .text p {
  color: white;
}
.video .text .btn {
  padding: 10px 50px;
  color: white;
  background-color: black;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
/* End video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 200px);
  position: relative;
  overflow: hidden;
}
.about .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 80px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .about {
    padding-bottom: 200px;
  }
  .about .image img {
    width: 100%;
  }
  .about .image {
    margin-top: 100px;
    width: 100%;
    padding: 30px;
  }
}
@media (max-width: 530px) {
  .about {
    padding-bottom: 80px;
  }
}
/* End About */
/* Start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/stats.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}
.stats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}
.stats .boxs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--transparent-color);
  padding: 50px;
  z-index: 2;
  position: relative;
}
.stats .box {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .stats .boxs .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .boxs .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .boxs .box {
    flex-basis: 25%;
  }
}
.stats .box i {
  padding: 15px;
  background-color: #000;
  border-radius: 50%;
  transition: var(--duration);
  margin-bottom: 30px;
}
.stats .box i:hover {
  color: var(--main-color);
  background-color: white;
  cursor: pointer;
  transform: rotate(2deg);
}
.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .box p {
  color: #999;
  font-size: 14px;
}
/* End stats */
/* Start skills */
.our-skills {
  padding-top: var(--section-padding);
}
.our-skills .our-skill-text {
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .our-skill-text h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}
.our-skills .our-skill-text p {
  color: #777;
  line-height: 1.8;
}
.our-skills .testimonials {
  position: relative;
  margin-bottom: 120px;
}
.our-skills .testimonials ul {
  bottom: -70px;
}
.our-skills .testimonials .content {
  display: flex;
  margin-bottom: 20px;
}
.our-skills .testimonials .text {
  border-bottom: 1px solid #ccc;
  line-height: 2;
}
.our-skills .testimonials .text h6 {
  line-height: 2;
}
.our-skills .testimonials .text p {
  font-size: 14px;
  color: #777;
  text-align: right;
}
.our-skills .testimonials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto;
  }
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .skills {
  margin-bottom: 100px;
}
.our-skills .skills .prog-holder {
  margin-bottom: 18px;
}
.our-skills .skills .prog-holder h4 {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 15px;
  font-size: 20px;
  color: #777;
}
.our-skills .skills .prog-holder .prog {
  height: 25px;
  background-color: #dedadc;
  border-radius: 20px;
}
.our-skills .skills .prog span {
  background-color: rgb(37, 224, 121);
  height: 100%;
  display: block;
  position: relative;
  border-radius: 20px;
}
.our-skills .skills .prog span::before {
  content: attr(data-progress);
  position: absolute;
  color: white;
  background-color: black;
  top: -40px;
  right: -10px;
  padding: 2px;
  width: 40px;
  text-align: center;
  border-radius: 40%;
  font-size: 14px;
}
.our-skills .skills .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  top: -15px;
  right: 2px;
}
/* End skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}
.quote .container {
  position: relative;
}
.quote q {
  display: block;
  font-size: 25px;
  margin-bottom: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.pricing .price-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.pricing .price-cards .price-card {
  flex-basis: 23%;
  margin: 20px auto;
  background-color: #fcfcfc;
}
@media (max-width: 1200px) {
  .pricing .price-cards .price-card {
    flex-basis: 47%;
    margin: 20px auto;
  }
}
@media (max-width: 768px) {
  .pricing .price-cards .price-card {
    flex-basis: 100%;
    margin: 20px auto;
  }
}
.pricing .price-card .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .price-card .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .price-card .head span {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  left: 20px;
  color: #797979;
}
.pricing .price-card .head span::before {
  content: "$";
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  left: -15px;
}
.pricing .price-card .head span:after {
  content: "/Mo";
  position: relative;
  font-size: 20px;
  right: -5px;
}
.pricing .price-card ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .price-card ul li {
  padding: 20px;
}
.pricing .price-card ul li:not(:last-child) {
  position: relative;
}
.pricing .price-card ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 0;
}
.pricing .foot {
  margin-top: 40px;
  margin-bottom: 30px;
}
.pricing .foot a {
  padding: 10px 20px;
  color: white;
  background-color: var(--main-color);
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--main-color);
}
.pricing .foot a:hover {
  transition: var(--duration);
  background-color: white;
  color: var(--main-color);
}
.pricing .contact-text {
  font-size: 20px;
  color: #777;
  margin-bottom: 50px;
}
.pricing .contact-link {
  padding: 10px 20px;
  color: var(--main-color);
  background-color: white;
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  margin-left: 5px;
}
.pricing .contact-link:hover {
  transition: var(--duration);
  background-color: var(--main-color);
  color: white;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translatey(-50%);
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  color: white;
  border-right: none;
  background: transparent;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
  color: #ddd;
}
@media (max-width: 992px) {
  .subscribe p {
    margin: 20px auto;
  }
}
/* End Subscribe */
/* Start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact form {
  flex-basis: 70%;
}
.contact form .inputs {
  width: 100%;
}
.contact .main-input {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
.contact textarea.main-input {
  height: 200px;
}
.contact .main-input:focus {
  outline: none;
}
.contact .contact-btn {
  padding: 20px 30px;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--main-color);
  margin-left: auto;
  display: flex;
  text-transform: uppercase;
}
.contact .contact-btn:hover {
  transition: var(--duration);
  background-color: white;
  color: var(--main-color);
}
.contact .info {
  flex-basis: 25%;
}
@media (max-width: 992px) {
  .contact .info {
    order: -1;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .contact .contact-btn {
    margin: 0 auto;
  }
}

.contact .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact .info address {
  color: #777;
  line-height: 2;
}
/* End contact */
/* Start footer */
footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  position: relative;
  color: white;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
footer .container {
  position: relative;
}
footer p:not(.copyright) {
  margin: 20px auto;
  border-bottom: 1px solid white;
  width: fit-content;
  padding: 20px;
  font-size: 22px;
}

footer i {
  width: 40px;
  padding: 10px;
  margin: 10px;
  background-color: var(--main-color);
  border-radius: 20px;
}
footer i:hover {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
  transition: var(--duration);
  transform: rotate(-360deg);
}
footer .copyright {
  margin-top: 20px;
  margin-bottom: 0;
}
footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* END footer */
